<div class="container">
  <div class="row">
      <div>
        <ul class="menubar">
          <li><%= link_to "License Detail", show_users_license_detail_path%></li>
          <li><%= link_to "User Detail", show_users_showusers_path%></li>
          
        </ul>
      </div>      
    
  </div>