<div class="container">
  <%= render "shared/header" %>
  <div class="row">

    <div class="actions">

  <h1>
    <span style="color:blue; text-decoration: underline;">License Details</span>
  </h1>
  <% if @company.blank? %>
      <p style="text-align: center; font-size: 18px;">No record found.</p>
  <% else %>

      <p></p>
      <table class="table table-bordered" border="1" width="100%" style="border-collapse: collapse;">
        <thead style="background-color: #b9c9fe; border-top: 4px solid #aabcfe; border-bottom: 1px solid #fff;">
        <tr style="text-align: center">
          <th>License Number</th>
          <th>License Validity</th>
          

        </tr>
        </thead>
        <tbody>
        
            <tr>
              <td><%= @company.license %></td>
              <td><%= @company.License_valid_days %> days</td>
        
        </tr>
        </tbody>
      </table>
     
      <% end %>
</div>
</div>
</div>

